.pageDetalle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cajaDetalle {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.tarjetaDetalle {
    padding: 20px;
    border: solid 4px black;
    border-radius: 15px;
}

.tarjetaDetalle li {
    list-style: none;
}

.detalleLink {
    background-color: black;
    margin: 10px;
    padding: 12px;
    font-size: 15px;
    border-radius: 15px;
}

.detalleLink:hover {
    background-color: #fff;
    color: black;
    border: solid 2px black;
}